{
  "presets": [[
    "@babel/preset-env",
    {
      "targets": {
        "node": "current"
      }
    }
  ]],
  "plugins": [["@babel/plugin-transform-runtime"], [
    "babel-plugin-root-import",
    {
      "paths": [{ "rootPathPrefix": "$", "rootPathSuffix": "src/" }]
    }
  ]]
}